@font-face {
  font-family: 'CabernetJFPro';
  src: url("/fonts/Cabernet JF Pro/CabernetJFPro-Regular.eot");
  src: url("/fonts/Cabernet JF Pro/CabernetJFPro-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Cabernet JF Pro/CabernetJFPro-Regular.woff2") format("woff2"), url("/fonts/Cabernet JF Pro/CabernetJFPro-Regular.woff") format("woff"), url("/fonts/Cabernet JF Pro/CabernetJFPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular B';
  src: url("/fonts/EuclidCircularB-Regular.eot");
  src: local("Euclid Circular B Regular"), local("Euclid-Circular-B-Regular"), url("/fonts/EuclidCircularB-Regular.woff2") format("woff2"), url("/fonts/EuclidCircularB-Regular.woff") format("woff"), url("/fonts/EuclidCircularB-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'CabernetJFPro', sans-serif;
  font-weight: 900;
  color: #040062;
}
